<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/partials.html :: head(${goat.name})"></head>
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}">
    <link type="text/css" rel="stylesheet" href="/css/edit-goat-test.css">
    <style>
        h3 {
            text-align: center
        }
    </style>
</head>
<body>

<!-- NAVBAR PARTIAL -->
<nav th:replace="partials/partials.html :: nav"></nav>

<!--PASSING TO A CONTROLLER TO FIND SPECIFIC GOAT-->
<input type="hidden" id="goatId" th:value="${goat.id}">

<!--GOAT PROFILE CARD-->
<div class="d-flex py-5 justify-content-center">
    <div class="card d-flex justify-content-center" style="max-width: 70%;">
        <div class="card-header text-center" style="background-color: #39603D;">
            <h1 th:text="${goat.name}" style="color: white"></h1>
        </div>
        <div class="row g-0">
            <div class="col-md-4 py-2 goat-img-id">
                <img th:src="${goat.img}" class="img-fluid d-flex justify-content-center" alt="..." style="padding-left: 10px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text" id="goat-profile-details-container">
                        <h4><u><strong>Tag ID:</strong></u> <span th:text="${goat.tagId}"></span></h4>
                        <h4><u><strong>Breed:</strong></u> <span th:text="${goat.breed}"></span></h4>
                        <h4><u><strong>DOB:</strong></u> <span th:text="${#dates.format(goat.dob, 'MMM dd, yyyy')}"></span></h4>
                        <h4><u><strong>Sex:</strong></u> <span th:text="${goat.sex}"></span></h4>
                        <h4><u><strong>Weight:</strong></u> <span th:text="${goat.weightInPounds}"></span> lbs</h4>
                        <h4><u><strong>Herd ID:</strong></u> <span th:text="${goat.herd.id}"></span></h4>
                    </div>
                    <br>
                    <div class="d-flex justify-content-evenly">
                        <button class="goat-button" id="view-vaccine-records-button">Vaccine Records</button>
                        <button class="edit-goat-button" id="edit-goat-button">Edit Goat Details</button>
                        <form th:action="@{/goats/{id}/pedigree(id=${goat.id})}" method="GET">
                            <input type="submit" value="View Pedigree" class="goat-button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  VIEW VACCINE MODAL  -->
<div id="view-records-modal-container" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" style="background-color: #39603D" >
                <h5 class="modal-title" style="color: white">Vaccination Records</h5>
            </div>
            <div class="modal-body">
                <div th:each="record : ${goat.records}">
                    <div>
                        <h4><u><strong>Vaccine:</strong></u>   <span th:text="${record.vaccine.vaccineName}"></span></h4>
                        <h5><u><strong>Date:</strong></u>   <span th:text="${#dates.format(record.dateAdministered, 'MMM dd, yyyy')}"></span></h5>
                        <h5><u><strong>Booster:</strong></u>   <span th:text="${record.isBooster}"></span></h5>
                        <h5><u><strong>Dosage:</strong></u>   <span th:text="${record.dosageInCcs}"></span></h5>
                        <input type="hidden" th:value="${record.id}" name="vaccine-id">
                    </div>
                    <hr>
                </div>

                <div id="view-vaccine-button-container" class="modal-footer">
                    <button type="button" id="close-records-view" class="btn" style="background-color: #39603D; color: white;" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" id="add-vaccine-button" class="btn" style="background-color: #39603D; color: white;">Add Record</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADD VACCINE MODAL-->
<div id="add-vaccine-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" style="background-color: #39603D;">
                <h5 class="modal-title" style="color: white;">Add New Vaccine</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label for="add-vaccine-id" style="width: 150px;" class="">Vaccine Name:</label>
                    <select id="add-vaccine-id" style="width: 300px;">
                        <option value="0">Choose Vaccine</option>
                        <option th:each="vaccine : ${vaccines}" th:value="${vaccine.id}"
                                th:text="${vaccine.vaccineName}"></option>
                    </select>
                </div>
                <div>
                    <label for="add-dosage" style="width: 150px;" class="">Dosage in Ccs:</label>
                    <input type="text" id="add-dosage" name="dosage" style="width:300px;">
                </div>
                <div>
                    <label for="add-administered" style="width: 150px;" class="">Date Administered:</label>
                    <input type="date" id="add-administered" name="administered" style="width:300px;">
                </div>
                <div>
                    <label for="add-booster" style="width: 150px;" class="">Is this a booster?</label>
                    <select name="add-booster" id="add-booster">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                    </select>
                </div>
                <div id="add-vaccine-button-container" class="modal-footer">
                    <button type="button" id="close-add-vaccine-view" class="btn" data-bs-dismiss="modal" style="color: white; background-color: #39603D;">
                        Cancel
                    </button>
                    <button type="button" id="save-vaccine-record" class="btn" style="color: white; background-color: #39603D;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- EDIT GOAT MODAL -->
<div id="edit-goat-modal-container" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center" style="background-color: #39603D;">
                <h5 class="modal-title" style="color: white;">Edit Goat Details</h5>
            </div>
            <div class="modal-body">
                <div>
                    <label for="name" style="width: 150px;" class="">Name</label>
                    <input type="text" id="name" name="name" style="width:300px;" th:value="${goat.name}">
                </div>
                <div>
                    <label for="dob" style="width: 150px;" class="">Date of birth</label>
                    <input type="date" id="dob" name="dob" style="width:300px;" th:value="${dob}">
                </div>
                <div>
                    <label for="breed" style="width: 150px;" class="">Breed</label>
                    <input type="text" id="breed" name="breed" style="width:300px;" th:value="${goat.breed}">
                </div>
                <div>
                    <label for="sex" style="width: 150px;">Sex</label>
                    <select name="sex" id="sex" style="width: 300px;">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div>
                    <label for="tag_id" style="width: 150px;" class="">Tag ID</label>
                    <input type="text" id="tag_id" name="tag_id" style="width:300px;" th:value="${goat.tagId}">
                </div>
                <div>
                    <label for="weight_in_pounds" style="width: 150px;" class="">Weight in pounds</label>
                    <input type="text" id="weight_in_pounds" name="weight_in_pounds" style="width:300px;"
                           th:value="${goat.weightInPounds}">
                </div>
                <div>
                    <label for="herd_id" style="width: 150px;" class="">Herd ID</label>
                    <input type="text" id="herd_id" name="herd_id" style="width:300px;" th:value="${goat.herd.id}">
                    <br>
                    <br>
                </div>

                <div id="edit-goat-button-container" class="modal-footer">
                    <button type="button" id="edit-cancel-button" class="btn" data-bs-dismiss="modal" style="color: white; background-color: #39603D;">
                        Cancel
                    </button>
                    <button type="button" id="save-changes-button" class="btn" style="color: white; background-color: #39603D;">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FOOTER PARTIAL -->
<section th:replace="partials/partials.html :: footer"></section>

<script>
    // EVENT LISTENERS

    // VIEW VACCINE RECORDS
    $("#view-vaccine-records-button").on("click", () => {
        $("#view-records-modal-container").attr("style", "display: block");
    });
    $("#close-records-view").on("click", () => {
        $("#view-records-modal-container").attr("style", "display: none");
    });
    $("#add-vaccine-button").on("click", () => {
        $("#view-records-modal-container").attr("style", "display: none");
        $("#add-vaccine-modal").attr("style", "display: block");
    });

    // ADD VACCINE
    $("#close-add-vaccine-view").on("click", () => {
        $("#add-vaccine-modal").attr("style", "display: none");
    });
    $("#save-vaccine-record").on("click", () => {
        addNewRecord();
    });

    // EDIT GOAT
    $("#edit-goat-button").on("click", () => {
        $("#edit-goat-modal-container").attr("style", "display: block;");
    });
    $("#edit-cancel-button").on("click", () => {
        $("#edit-goat-modal-container").attr("style", "display: none;")
    });
    $("#save-changes-button").on("click", () => {
        editGoat();
    });

    // FUNCTION FOR EDITING A GOAT
    const editGoat = () => {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let settings = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: $("#name").val(),
                tagId: $("#tag_id").val(),
                breed: $("#breed").val(),
                sex: $("#sex").val(),
                dob: $("#dob").val(),
                weightInPounds: $("#weight_in_pounds").val(),
                herdId: $("#herd_id").val(),
                goatId: $("#goatId").val(),
            })
        }
        settings.headers[header] = token;
        fetch("/edit/goat", settings)
            .then(() => {
                location.reload();
            })
    }

    // FUNCTION FOR ADDING A NEW VACCINE
    const addNewRecord = () => {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let isBooster = $("#add-booster").val() === "yes";
        console.log($("#add-booster").val());
        console.log(isBooster);
        let settings = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                goatId: $("#goatId").val(),
                vaccineId: $("#add-vaccine-id").val(),
                dosageInCcs: $("#add-dosage").val(),
                dateAdministered: $("#add-administered").val(),
                isBooster: isBooster,
            })
        }
        settings.headers[header] = token;
        fetch("/add/vaccine/" + $("#add-vaccine-id").val(), settings)
            .then(() => {
                location.reload();
            })
    }

</script>
</body>
</html>
