<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/vendor/Treant.css">
    <link rel="stylesheet" href="/css/vendor/perfect-scrollbar.css">
    <head th:replace="partials/partials.html :: head('Pedigree')"></head>
    <link rel="stylesheet" href="/css/pedigree.css">
    <link rel="stylesheet" href="/css/barndoor.css">
</head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<section class="py-5">
<div class="d-flex justify-content-center">
    <h1>Viewing pedigree for: <span th:text="${goat.name}"></span></h1>
</div>
<input type="hidden" id="goat-id" th:value="${goat.id}">
<div class="chart" id="OrganiseChart1"></div>
    <footer th:replace="partials/partials.html :: footer"></footer>
</section>
<script src="/js/vendor/raphael.js"></script>
<script src="/js/vendor/Treant.js"></script>
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/vendor/jquery.mousewheel.js"></script>
<script src="/js/vendor/perfect-scrollbar.js"></script>
<script src="/js/pedigree.js"></script>
<script>
    getPedigree($("#goat-id").val())
</script>


</body>
</html>