nav {
    background: #198754;
}

.reg-header {
    background: #198754;
    color: white;
}

.reg-card {
    padding: 0;
}

.navbar-nav{
    text-align: right;
}

.form-control{
    width: 80%;
    margin: 5% 10%;
}

.login-here{
    text-align: center;
    margin-top: 10%;
}

.logout-btn{
    padding-top: 10%;
}

/*footer {*/
/*    background: darkseagreen;*/
/*}*/