nav {
    background: #198754;
}

body{
    padding-top: 70px;
}

body.watermark{
    background: url("BARNDOOR_3.png") no-repeat center center fixed;
    background-size: 25%;
    opacity: 90%;
}

.reg-header {
    background: #198754;
    color: white;
}

.reg-card {
    padding: 0;

}

.navbar-nav{
    text-align: right;
}

.nav-logo{
    height: 50px;
    background: #D9D9D9;

}

.form-control{
    width: 80%;
    margin: 5% 10%;
}

.login-here{
    text-align: center;
    margin-top: 10%;
}

.logout-btn{
    padding-top: 6px;
    justify-content: center;
    align-items: center;
}

.reg-btn {
    background: #198754;
    color: white;
}

footer {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

.landing-card {
    max-width: 50%;
    height: auto;
}

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.goat-img {
    width: 100%;
    height: auto;
}

.goat-container {
    width: 100%;
}