.indexHeader {
    text-align: center;
    background: #198754;
    color: white;
}

.indexHeader2 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

