#modal-container {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 100px;
    width: 100%;
}

.modal-wrapper {
    width: 500px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid royalblue;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.add-goat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: white;
    border-radius: 4px;
    border: 0;
    width: 100px;
    height: 50px;
}