<!--<!DOCTYPE html>-->

<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="partials/partials.html :: head('Login')"></head>-->
<!--<body>-->
<!--<nav th:replace="partials/partials.html :: nav"></nav>-->


<!--&lt;!&ndash; start of container for login &ndash;&gt;-->
<!--<section class="container py-5">-->
<!--  <article class="d-flex justify-content-center">-->
<!--    <div class="d-flex card reg-card" style="width: 50%">-->

<!--      &lt;!&ndash; login header &ndash;&gt;-->
<!--      <h2 class="d-flex justify-content-center reg-header">Log In</h2>-->
<!--      <br>-->
<!--      <br>-->
<!--       display login error message logic -->
<!--      <div th:if="${param.error}">-->
<!--        Invalid Username and Password.-->
<!--      </div>-->
<!--      <div th:if="${param.logout}">-->
<!--        You have been logged out.-->
<!--      </div>-->

<!--      <form th:action="@{/login}" method="post">-->

<!--      &lt;!&ndash;username field of container&ndash;&gt;-->
<!--        <div class="mb-3">-->
<!--          <input id="username" placeholder="Username" class="form-control"/>-->
<!--        </div>-->


<!--        &lt;!&ndash;password field of container &ndash;&gt;-->
<!--        <div class="mb-3">-->
<!--          <input id="password" type="password" class="form-control" placeholder="Password" />-->
<!--        </div>-->


<!--        &lt;!&ndash;login button of container &ndash;&gt;-->
<!--        <div class="text-center">-->
<!--          <input class="btn btn-primary" value="Login!" type="submit"/>-->
<!--        </div>-->

<!--        &lt;!&ndash;back to register page link&ndash;&gt;-->
<!--        &lt;!&ndash;for styling: id "login-here" is on barndoor.css&ndash;&gt;-->

<!--      </form>-->

<!--        <div class="login-here">-->
<!--          <p>Don't have an account? <a href="/register">Register Here</a></p>-->
<!--        </div>-->


<!--    </div>-->
<!--  </article>-->
<!--</section>-->

<!--</body>-->

<!--<footer th:replace="partials/partials.html :: footer"></footer>-->

<!--</html>-->

<!--original functioning code that is working, looks ugly but functions work -->

<!--PREVIOUS CODE JUST IN CASE~!!!!!!-->

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Login')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>



<div class="container">
    <h1>Log In</h1>
    <div th:if="${param.error}">
        Invalid Username and Password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <br>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <br>
    <input type="submit" value="Log In" />
</form>


</body>

<footer th:replace="partials/partials.html :: footer"></footer>

</html>