<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:replace="partials/partials.html :: head('Profile')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>




<div profile-class="container justify-content-center align-content">
    <h1> Welcome, <span th:text="${user.username}">!</span></h1>
    <h2>You are currently managing ranch: <span th:text="${user.ranchName}">!</span></h2>
    <br>
    <h2>Your profile details</h2>
    <h3>First name: <span th:text="${user.firstName}">!</span></h3>
    <h3>Last name: <span th:text="${user.lastName}">!</span></h3>
    <h3>Email Address: <span th:text="${user.email}">!</span></h3>
</div>


</body>

<footer th:replace="partials/partials.html :: footer"></footer>

</html>