<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Register')"></head>
<body class="watermark">
<nav th:replace="partials/partials.html :: nav"></nav>
<section class="container py-5">
    <article class="d-flex justify-content-center">
        <div class="d-flex card reg-card" style="width: 50%">

                <h2 class="d-flex justify-content-center reg-header">Create an account</h2>
                <br><br>

                <form th:action="@{/register}" method="POST" th:object="${user}" class="content-center">

                        <div class="mb-3">
                            <input id="username" placeholder="Username"th:field="*{username}" class="form-control"/>
                        </div>

                        <div class="mb-3">
                            <input id="firstName" class="form-control" placeholder="First Name" th:field="*{firstName}"/>
                        </div>

                        <div class="mb-3">
                            <input id="lastName" class="form-control" placeholder="Last Name"th:field="*{lastName}"/>
                        </div>

                        <div class="mb-3">
                            <input id="password" type="password" class="form-control" placeholder="Password" th:field="*{password}"/>
                        </div>

                        <div class="mb-3">
                            <input id="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                        </div>

                        <div class="mb-3">
                            <input id="ranchName" class="form-control" placeholder="Ranch Name" th:field="*{ranchName}"/>
                        </div>

                    <div class="text-center">
                        <input class="btn reg-btn" value="Sign me up!" type="submit"/>
                    </div>

                    <div class="login-here">
                        <p>Already have an account? <a href="/login">Login Here</a></p>
                    </div>
                </form>

            </div>

    </article>
</section>

<footer th:replace="partials/partials.html :: footer"></footer>


</body>

</html>