<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Register')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<section class="container py-5">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-md d-none d-md-inline-block card landing-card" id="reg-logo">
                <img src="/BARNDOOR_3.png">
            </div>

            <div class="d-flex card reg-card col-md">
                <h2 class="d-flex justify-content-center reg-header card">Create an account</h2>
                <br>
<div id="errorMsgBox">
    <div class="errorMsg" th:if="${errorList.size() &gt; 0}" th:each="error:${errorList}"><small th:text="${error}"></small></div>
</div>
                <form th:action="@{/register}" method="POST" th:object="${user}" class="content-center">
                    <div class="mb-3">
                        <input id="username" placeholder="Username" th:field="*{username}" class="form-control"/>

                        <input id="firstName" class="form-control" placeholder="First Name" th:field="*{firstName}"/>

                        <input id="lastName" class="form-control" placeholder="Last Name" th:field="*{lastName}"/>

                        <input id="password" type="password" class="form-control" placeholder="Password"
                               th:field="*{password}"/>

                        <input id="email" class="form-control" placeholder="Email" th:field="*{email}"/>

                        <input id="ranchName" class="form-control" placeholder="Ranch Name" th:field="*{ranchName}"/>
                    </div>

                    <div class="text-center">
                        <input class="btn reg-btn" value="Sign me up!" type="submit"/>
                    </div>

                    <div class="login-here">
                        <p>Already have an account? <a href="/login">Login Here</a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>

</section>

<footer th:replace="partials/partials.html :: footer"></footer>


</body>

</html>