nav {
    background: #3C403D;
}

h2 {
    text-align: center;
}

body {
    padding-top: 70px;
    background-color: #DADED4;
    font-family: 'Cabin', sans-serif;
}

body.watermark {
    background: url("../img/BARNDOOR_3.png") no-repeat center center fixed;
    background-size: 25%;
    opacity: 90%;
}

.reg-header {
    background: #39603D;
    color: white;
    border-color: white;
}

.reg-card {
    padding: 0;
}
.register-here{
    padding: 10px;
}

.navbar-nav {
    text-align: right;
}

.nav-logo {
    height: 50px;
    /*background: #D9D9D9;*/

}

.form-control {
    width: 80%;
    margin: 5% 10%;
}

.login-here {
    text-align: center;
    margin-top: 20px;
}

.register-here {
    text-align: center;
    margin-top: 10%;
}

.logout-btn {
    /*padding-top: 6px;*/
    justify-content: center;
    align-items: center;
}

.reg-btn {
    background: #39603D;
    color: white;
    margin: 10px;
}

.footerAll {
    text-align: center;
    /*position: fixed;*/
    left: 0;
    bottom:0;
    width: 100%;
    padding: 16px;

}

section {
    margin-bottom: 30px;
}

.landing-card {
    padding: 0;
    /*border: 0;*/
    border-color: #3C403D;
    border-width: 1px;
}

.column {
    float: left;
}

#mission {
    padding: 0 10px;
    text-align: center;
}

.goat-img {
    width: 100%;
    height: auto;
    background-color: transparent;
}

#reg-logo img {
    width: 75%;
    height: auto;
    align-self: center;
    justify-content: center;
    display: block;
    margin: auto;
}

#errorMsgBox {
    margin: 0 5%;
}

.goat-container {
    width: 100%;
}

.reg-fields {
    padding-bottom: 10px;
}


