.indexHeader {
    text-align: center;
    background: #39603D;
    color: white;
    border-color: #3C403D;
    border-width: medium;
}

.indexHeader2 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: fill;*/
    width: 100%;
    /*justify-content: space-evenly;*/
    border-color: #3C403D;
    border-width: medium;
}


.card {
    border-color: #3C403D;
    border-width: 2px;
}

/*.col-md {*/
/*    border-radius: 75%;*/
/*}*/


h1 {
 padding: 30px;
}

.modal-header {
    display: flex;
    justify-content: center;
}

#mission {
    padding: 0 10px;
    text-align: center;
    font-size: 22px;
}
