.indexHeader {
    text-align: center;
    background: #198754;
    color: white;
}

.indexHeader2 {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

h1 {
 padding: 30px;
}

.modal-header {
    display: flex;
    justify-content: center;
}

