.index-header {
    text-align: center;
    background: #39603D;
    color: white;
    border: 1px solid #3C403D;

}

.goat-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.card {
    border: 1px solid #3C403D;
}

h1 {
    padding: 30px;
}

.modal-header {
    display: flex;
    justify-content: center;
}

#mission {
    padding: 0 10px;
    text-align: center;
    font-size: 22px;
}

.index-img {
    border-radius: 6px;
}