body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.page-header {
    padding-top: 4px;
    width: 1200px;
    border-radius: 12px;
    padding-left: 0px;
    padding-right: 0px;
}

.page-header > div {
    border-radius: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFFFFF;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}

caption, th {
    text-align: left;
}

h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

body {
    background: #DADED4;
}

/* optional Container STYLES */
.chart {
    height: 670px;
    width: 1200px;
    margin: 5px auto;
    border: 3px solid #3C403D;
    border-radius: 12px;
    background-color: #ffffff;
}

.Treant > .node {
}

.Treant > p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.node-name {
    font-weight: bold;
}

.node1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    background-color: #3C403D;
    border: 0px solid #000;
    width: 270px;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #ffffff;
    opacity: 90%;
}

.node1 img {
    height: 100px;
    margin-right: 10px;
}

.Treant > a:link {
    color: #ffffff;
}

.Treant > a:visited {
    color: #ffffff;
}

.Treant > a:link:hover {
    color: #636363;
}

.node {
    width: 350px;
}

.node p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}