<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('index')">
    <meta charset="UTF-8">
    <title>BarnDoor Landing Page!</title>
</head>
<body>
<a name="top"></a>
<!--<nav th:replace="partials/partials.html :: nav"></nav>-->
<!-- -&#45;&#45; Title of Page & how it works -&#45;&#45;-->
<h1>Your all-in-one Goat manager</h1>
<h2>How it works</h2>
<!-- -&#45;&#45; Introduction on how the app works -&#45;&#45;-->
<p>Step 1. Register for an account to gain access to our goat organization tools.</p>
<p>Step 2. Document existing goat data with our user friendly features.</p>
<p>Step 3. Manage your goats and herds by checking in on the app and updating their status daily!</p>




<!-- -&#45;&#45; Stock image that will include a button that will link to registration page-->
<embed type="image/jpeg" src="brownGoat.jpeg" width="500" height="300">



<!-- -&#45;&#45; footer -&#45;&#45;-->
<footer>
    <p>Copyright © 2022, All Right Reserved </p>
    <a href="#top">BarnDoor</a>

</footer>

</body>
</html>