<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials.html :: head('Welcome to BarnDoor')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>

<a name="top"></a>
<!-- -&#45;&#45; Title of Page & how it works -&#45;&#45;-->
<h1>Your all-in-one Goat manager</h1>
<h2>How it works</h2>
<!-- -&#45;&#45; Introduction on how the app works -&#45;&#45;-->
<p>Step 1. Register for an account to gain access to our goat organization tools.</p>
<p>Step 2. Document existing goat data with our user friendly features.</p>
<p>Step 3. Manage your goats and herds by checking in on the app and updating their status daily!</p>




<!--Stock image that will include a button that will link to registration page-->




</body>
</html>
<button onclick="document.location='http://localhost:8080/register'">Register now</button>
<br>

    <footer th:replace="partials/partials.html :: footer">
    <a href="#top">BarnDoor</a>
    </footer>


</body>
</html>