<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <head th:replace="partials/partials.html :: head('Herd')"></head>
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}">
    <link type="text/css" rel="stylesheet" href="/css/modaltest.css">
</head>
<body>
<!-- NAVBAR PARTIAL -->
<nav th:replace="partials/partials.html :: nav"></nav>

<!--  MAIN SECTION PAGE  -->
<section class="container py-5">
    <article class="d-flex justify-content-center">
        <div class="d-flex card py-1">
            <h1 class="card-header">Viewing the <span th:text="${herd.herdName}"></span></h1>
            <div class="card-body">
                <h3 class="card-title d-flex justify-content-center"><span th:text="${herd.description}"></span></h3>
                <br>
                <input type="hidden" th:value="${herd.id}" id="herd-id">
                <div class="d-flex justify-content-center">
                    <div class="px-3">
                        <button id="edit-herd-button" class="goat-button">Edit Herd</button>
                    </div>
                    <div class="px-3">
                        <button id="add-goat-button" class="goat-button">Add Goat</button>
                    </div>
                </div>
            </div>

            <!--  ADD NEW GOAT MODAL  -->
            <div id="add-goat-modal-container" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add a New Goat</h5>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="name" style="width: 150px;" class="">Name</label>
                                <input type="text" id="name" name="name" style="width:300px;">
                            </div>
                            <div>
                                <label for="dob" style="width: 150px;" class="">Date of birth</label>
                                <input type="date" id="dob" name="dob" style="width:300px;">
                            </div>
                            <div>
                                <label for="breed" style="width: 150px;" class="">Breed</label>
                                <input type="text" id="breed" name="breed" style="width:300px;">
                            </div>
                            <div>
                                <label for="sex" style="width: 150px;" class="">Sex</label>
                                <select name="sex" id="sex" style="width:300px;">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                            <div>
                                <label for="tag_id" style="width: 150px;" class="">Tag ID</label>
                                <input type="text" id="tag_id" name="tag_id" style="width:300px;">
                            </div>
                            <div>
                                <label for="weight_in_pounds" style="width: 150px;" class="">Weight in pounds</label>
                                <input type="text" id="weight_in_pounds" name="weight_in_pounds" style="width:300px;">
                            </div>
                            <div>
                                <label for="sire_name" style="width: 150px;" class="">Sire Name</label>
                                <input type="text" id="sire_name" name="sire_name" style="width:300px;">
                            </div>
                            <div>
                                <label for="dam_name" style="width: 150px;" class="">Dam Name</label>
                                <input type="text" id="dam_name" name="dam_name" style="width:300px;">
                            </div>

                            <div id="add-goat-button-container" class="modal-footer">
                                <button id="file-upload-btn" class="btn btn-secondary">Upload Image</button>
                                <input id="file-path" type="hidden" name="img">
                                <img id="file-upload-img" src="" alt="" style="width: 100px;">
                                <button type="button" id="add-goat-cancel-button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="button" id="add-goat-add-button" class="btn btn-primary">Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--EDIT A HERD MODAL-->
            <div id="edit-herd-modal-container" class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Herd Details</h5>
                        </div>
                        <div class="modal-body">
                            <div>
                                <label for="name" style="width: 150px;" class="">Herd Name</label>
                                <input type="text" id="edit-name" name="name" style="width:300px;" th:value="${herd.herdName}">
                            </div>
                            <div>
                                <label for="description" style="width: 150px;" class="">Herd Description</label>
                                <input type="text" id="description" name="description" style="width:300px;" th:value="${herd.description}">
                            </div>
                            <div id="edit-herd-button-container" class="modal-footer">
                                <button type="button" id="edit-herd-cancel-button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button type="button" id="edit-herd-submit-button" class="btn btn-primary">Save
                                    changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <!--CARD TO DISPLAY GOAT -->
            <div class="justify-content-center" id="herd-table">
                <div class="d-flex justify-content-center" th:each="goat : ${herd.goats}">
                    <div class="card mb-3" style="width:80%;">
                        <div class="row g-0">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <a th:href="@{/goat/{id}(id=${goat.id})}"><img
                                        th:src="${goat.img}"
                                        class="img-fluid rounded-start"
                                        alt="..."></a>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a th:href="@{/goat/{id}(id=${goat.id})}"><h4 class="card-title"
                                                                                  th:text="${goat.name}"></h4></a>
                                    <h5 class="card-text">Tag ID: <span th:text="${goat.tagId}"></span></h5>
                                    <h5 class="card-text">DOB: <span th:text="${#dates.format(goat.dob, 'MMM dd, yyyy')}"></span></h5>
                                    <h5 class="card-text">Sex: <span th:text="${goat.sex}"></span></h5>
                                    <h5 class="card-text">Breed: <span th:text="${goat.breed}"></span></h5>
                                    <h5 class="card-text">Weight: <span th:text="${goat.weightInPounds}"></span>lbs</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!--    LINK TO TOP OF PAGE  -->
    <article class="d-flex justify-content-center">
        <a href="#">Return to top of page</a>
    </article>
</section>

<!--  FOOTER PARTIAL -->
<section th:replace="partials/partials.html :: footer"></section>


<script>
    // EVENT LISTENERS FOR ALL BUTTONS

    // Add Goat Button
    $("#add-goat-button").on("click", () => {
        $("#add-goat-modal-container").attr("style", "display: block;");
    });
    $("#add-goat-cancel-button").on("click", () => {
        $("#add-goat-modal-container").attr("style", "display: none;")
    });
    $("#add-goat-add-button").on("click", () => {
        addNewGoat();
    });

    // Edit Herd Button
    $("#edit-herd-button").on("click", () => {
        $("#edit-herd-modal-container").attr("style", "display: block;");
    });
    $("#edit-herd-cancel-button").on("click", () => {
        $("#edit-herd-modal-container").attr("style", "display: none;")
    });
    $("#edit-herd-submit-button").on("click", () => {
        saveEditHerd();
    });


    // THESE FUNCTIONS TAKE ENTERED DATA AND SENDS TO CONTROLLER
    const addNewGoat = () => {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let settings = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                name: $("#name").val(),
                dob: $("#dob").val(),
                breed: $("#breed").val(),
                sex: $("#sex").val(),
                tagId: $("#tag_id").val(),
                weightInPounds: $("#weight_in_pounds").val(),
                herdId: $("#herd-id").val(),
                sireName: $("#sire_name").val(),
                damName: $("#dam_name").val(),
                img: $("#file-path").val()
            })
        }
        settings.headers[header] = token;
        fetch("/add/new/goat", settings)
            .then(() => {
                location.reload();
            })
    }

    const saveEditHerd = () => {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let settings = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                herdId: $("#herd-id").val(),
                herdName: $("#edit-name").val(),
                description: $("#description").val()

            })
        }
        settings.headers[header] = token;
        fetch("/edit/herds/id", settings)
            .then(() => {
                location.reload();
            })
    }

</script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        "use strict";

        const key = /*[[${filestackKey}]]*/;

        const client = filestack.init(key);

        const options = {
            fromSources: ["local_file_system"],
            accept: ["image/*"],
            onFileUploadFinished: callback => {
                const filestackUrl = callback.url;
                $('#file-path').val(filestackUrl);
                $('#file-upload-img').attr('src', filestackUrl);
            }
        };

        $(document).on("click", "#file-upload-btn", function (event) {
            event.preventDefault();
            client.picker(options).open();
        });
    });
    /*]]>*/
</script>
</body>
</html>