<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials/partials.html :: head('Herd')"></head>
    <meta th:name="_csrf" th:content="${_csrf.token}">
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}">
    <!--    CSS LINK -->
    <link type="text/css" rel="stylesheet" href="/css/herds.css">
</head>
<body>
<!--NAVBAR PARTIAL-->
<nav th:replace="partials/partials.html :: nav"></nav>

<!--  MAIN SECTION OF PAGE  -->
<section class="container py-5">
    <article class="d-flex justify-content-center">
        <div class="d-flex card">
            <div class="d-flex card-header-main justify-content-center">
                <h1>Viewing All Herds In <span th:text="${user.ranchName}"></span>!</h1>
            </div>
            <div class="card-body">

                <!-- ADD HERD BUTTON -->
                <div class="d-flex justify-content-center">
                    <button id="add-herd-button" class="goat-button">Add Herd</button>
                </div>
                <!--ADD NEW HERD MODAL -->
                <div id="add-herd-modal-container" class="modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add a New Herd</h5>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <label for="herd-name" style="width:150px;" class="">Herd Name</label>
                                    <input type="text" id="herd-name" name="herd-name" style="width:300px;">
                                </div>
                                <div>
                                    <label for="description" style="width: 150px;" class="">Herd Description</label>
                                    <input type="text" id="description" name="description" style="width:300px;">
                                </div>
                                <div id="add-herd-button-container" class="modal-footer">
                                    <button type="button" id="add-herd-cancel-button" class="btn"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="button" id="add-herd-add-button" class="btn">Add New
                                        Herd
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <!-- CARD TO DISPLAY LIST OF HERDS -->
                <div class="d-flex justify-content-center" th:each="herd : ${herds}">
                    <div class="card text-center my-3" style="width: 90%;">
                    <!-- ANCHOR TAGS MAKES THE NAME OF THE HERD CLICKABLE & LINK TO CONTROLLER-->
                    <h2 class="card-header" id="herdName">Herd Name: <a th:href="@{/herds/{id}(id=${herd.id})}"><span
                            th:text="${herd.herdName}"></span></a></h2>
                    <div class="card-body">
                        <h5 class="card-title"><span th:text="${herd.description}"></span></h5>
                    </div>
                    </div>
                </div>
                <br>
                <!--  LINK TO TOP OF THE PAGE  -->
                <article class="d-flex justify-content-center">
                    <a href="#">Return to top of page</a>
                </article>
            </div>
        </div>
    </article>
</section>
<input type="hidden" th:value="${user.id}" name="user-id" id="user-id">
<!--  FOOTER PARTIAL  -->
<footer th:replace="partials/partials.html :: footer"></footer>
</section>



<script>
    // EVENT LISTENERS FOR BUTTONS

    // ADD A NEW HERD
    $("#add-herd-button").on("click", () => {
        $("#add-herd-modal-container").attr("style", "display: block;");
    });

    $("#add-herd-cancel-button").on("click", () => {
        $("#add-herd-modal-container").attr("style", "display: none;")
    });

    $("#add-herd-add-button").on("click", () => {
        addNewHerd();

    });


    // TAKES DATA FROM FORM AND SENDS TO CONTROLLER
    const addNewHerd = () => {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        let settings = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                herdName: $("#herd-name").val(),
                description: $("#description").val(),
                userId: $("#user-id").val(),
            })
        }
        settings.headers[header] = token;
        fetch("/add/new/herd", settings)
            .then(() => {
                location.reload();
            })
    }
</script>
</body>
</html>